@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
:root {
  --bg: #ffffff;
  --text: #1a1a1a;
}

.dark {
  --bg: #1a1a2e;
  --text: #e0e0e0;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

*{
  font-family: "Outfit", sans-serif;
}
/* Empêche les blocs d’être coupés */
.avoid-break {
  page-break-inside: avoid;
  break-inside: avoid;
}

/* Force nouvelle page */
.page-break {
  page-break-before: always;
}

/* Stabilise le rendu */
h1, h2, h3, p, div {
  page-break-inside: avoid;
}
